@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

body {
  font-size: 14px;
  //font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
  //font-family: "Yu Gothic", YuGothic, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",  sans-serif;
  font-family: "Poppins", "Yu Gothic", YuGothic, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Meiryo, sans-serif;
  //font-feature-settings: "pwid" 1;
  font-feature-settings: "palt";
  letter-spacing: .01em;
  text-align: left;
  line-height: 1.7;
  color: #232323;
}

main {
  margin: 120px 0;
  text-align: center;
  font-size: 32px;
}
