$main_color: #E2B633;
$text_color: #232323;
$link_color: #D5A239;
$background_light: #FCF8E9;

$breakpoints: (
  'xs': 'screen and (max-width: 321px)',
  'sm': 'screen and (max-width: 480px)',
  'column1': 'screen and (max-width: 672px)',
  'md': 'screen and (max-width: 768px)',
  'md-article': 'screen and (max-width: 840px)',
  'lg': 'screen and (max-width: 1100px)',
) !default;

@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

body {
  font-size: 16px;
  //font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
  //font-family: "Yu Gothic", YuGothic, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",  sans-serif;
  font-family: "Poppins", "Yu Gothic", YuGothic, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Meiryo, sans-serif;
  //font-feature-settings: "pwid" 1;
  font-feature-settings: "palt";
  letter-spacing: .01em;
  text-align: left;
  line-height: 1.7;
  color: $text_color;
  @include mq() {
    font-size: 15px;
  }
  &.body-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

::selection {
  background: $link_color;
  color: #fff;
}

::-webkit-scrollbar-thumb{
  background: $main_color;
}

::-webkit-scrollbar{
  background-color:transparent;
  width:6px
}

p {
  font-size: 16px;
  @include mq() {
    font-size: 15px;
  }
  &:last-child {
    margin: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: 600;
}

a {
  color: $link_color;
  transition: all 0.4s;
  &:hover {
    opacity: 0.6;
    @include mq() {
      opacity: 1;
    }
  }
}

img {
  transition: all 0.4s;
}

.sticky {
  transition: all 0.4s;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

header.header {
  width: 100%;
  position: relative;
  &.header-top {
    .header-inner {
      height: calc(100vh - 120px);
      transition: all 0.4s;
      background-color: #f7f7f7;
      @include mq() {
        height: calc(100vh - 40px);
        padding: 20px;
      }
    }
  }
  .header-inner {
    margin: 60px;
    width: auto;
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #f7f7f7;
    @include mq() {
      margin: 20px;
    }
    @include mq(md-article) {
      height: 250px;
    }
    .header-background {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: topHeader 1.2s linear 0s forwards;
    }
    .copy {
      padding: 60px;
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
      top: 50%;
      left: 50%;
      max-width: 980px;
      @include mq() {
        width: calc(100% - 40px);
        padding: 20px;
      }
      .copy-background {
        background: $main_color;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        z-index: -1;
        animation: copyBk 0.4s linear 0.8s forwards;
      }
      .brdr {
        position: absolute;
        background: #fff;
        opacity: 0.7;
        &-left {
          top: 0;
          left: 0;
          width: 1px;
          height: 0%;
          animation: copyBrdrLeft 0.2s linear 0s forwards;
        }
        &-bottom {
          bottom: 0;
          left: 0;
          width: 0%;
          height: 1px;
          animation: copyBrdrBottom 0.2s linear 0.2s forwards;
        }
        &-right {
          bottom: 0;
          right: 0;
          width: 1px;
          height: 0%;
          animation: copyBrdrRight 0.2s linear 0.4s forwards;
        }
        &-top {
          top: 0;
          right: 0;
          width: 0%;
          height: 1px;
          animation: copyBrdrTop 0.2s linear 0.6s forwards;
        }
      }
      h2.description {
        font-size: 36px;
        color: #fff;
        letter-spacing: 3px;
        text-transform: uppercase;
        animation: copyDes 0.4s linear 0.8s forwards;
        opacity: 0;
        text-align: center;
        @include mq() {
          font-size: 21px;
        }
      }
    }
  }
  .logo {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1002;
    overflow: hidden;
    .logo-txt {
      font-size: 32px;
      font-weight: 600;
      color: #232323;
      a {
        color: #232323;
      }
      @include mq() {
        font-size: 24px;
      }
    }
    @include mq() {
      top: 10px;
      left: 10px;
    }
    a {
      display: block;
      &:before {
        content: '';
        width: 0%;
        height: 100%;
        background: $main_color;
        display: block;
        position: absolute;
        z-index: 1003;
        top: 0;
        left: 0;
        animation: bkX 0.8s ease-in-out 0s forwards;
      }
      img {
        vertical-align: bottom;
        height: 60px;
        width: auto;
        animation: bkTextImg 0.8s linear 0s forwards;
        position: relative;
        &:hover {
          opacity: 0.6;
          @include mq() {
            opacity: 1;
          }
        }
        @include mq() {
          height: 40px;
        }
      }
    }
  }
  .menu-btn-container {
    position: fixed;
    z-index: 1;
    bottom: 30px;
    right: 30px;
    animation: menuButton 0.8s linear 0s forwards;
    z-index: 1003;
    @include mq() {
      bottom: 10px;
      right: 10px;
    }
    &.is-active {
      a.menu-btn {
        background: #fff;
        &:hover {
          opacity: 1;
        }
        span {
          background: $link_color;
          &:nth-child(1) {
            transform: translateX(-12.5px) translateY(8px) rotate(-45deg);
            @include mq() {
              transform: translateX(-10px) translateY(7px) rotate(-45deg);
            }
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateX(-12.5px) translateY(-6px) rotate(45deg);
            @include mq() {
              transform: translateX(-10px) translateY(-7px) rotate(45deg);
            }
          }
        }
      }
    }
    a.menu-btn {
      display: block;
      background: $link_color;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      box-shadow: 0 10px 30px rgba(62,58,57,0.2);
      @include mq() {
        width: 48px;
        height: 48px;
      }
      &:hover {
        opacity: 1;
        animation: menuButtonHover 0.4s linear;
      }
      span {
        background: #fff;
        width: 25px;
        height: 2px;
        display: block;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        transition: all 0.4s;
        @include mq() {
          width: 20px;
        }
        &:nth-child(1) {
          top: 22px;
          @include mq() {
            top: 16px;
          }
        }
        &:nth-child(2) {
          top: 50%;
          margin-top: -1px;
        }
        &:nth-child(3) {
          bottom: 22px;
          @include mq() {
            bottom: 16px;
          }
        }
      }
    }
  }
  nav.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    background: $link_color;
    color: #fff;
    padding: 45px 30px 120px;
    height: 100vh;
    transform: translateX(320px);
    transition: all 0.4s ease-in-out;
    z-index: 1002;
    @include mq() {
      padding: 30px 20px 60px;
    }
    &.is-active {
      transform: translateX(0px);
      box-shadow: 0 5px 15px rgba(62,58,57,.2);
      .menu-container {
        ul {
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }
    .menu-container {
      ul {
        //transition: transform 0.35s ease-in-out 0.35s, opacity 0.35s ease-in-out 0.4s !important;
        transition: all 0.4s ease-out 0.4s;
        transform: translateX(10%);
        opacity: 0;
        li {
          line-height: 1;
          padding: 10px 0;
          text-align: right;
          ul {
            li {
              &:last-child {
                padding: 10px 0 0px;
              }
            }
          }
          ul.sub-menu {
            margin: 10px 0px 0 0px;
            font-size: 10px;
            li {
              a {
                letter-spacing: 3px;
              }
            }
          }
          &:first-child {
            padding: 0px 0 10px;
          }
          &:last-child {
            padding: 10px 0 0px;
          }
          a {
            color: #fff;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 1.7;
            &:after {
              display: block;
              content: "";
              position: absolute;
              top: 50%;
              left: 300%;
              width: 300%;
              height: 1px;
              background-color: #fff;
              transform: translateY(-50%);
              transition: all 0.4s;
            }
            &:hover {
              opacity: 1;

              &:after {
                left: 0;
              }
            }
          }
          &.current-menu-item {
            &> a {
              &:after {
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  .scroll-down {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    overflow: hidden;
    width: 1px;
    height: 60px;
    @include mq() {
      bottom: -20px;
      height: 40px;
    }
    .line {
      width: 1px;
      display: block;
      height: 60px;
      background: #ddd;
      will-change: transform;
      animation: scroollLine 2s ease-in-out infinite;
      @include mq() {
        height: 40px;
      }
    }
  }
}

.menu-mask {
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: transparent;
  &.is-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    opacity: 1;
    cursor: pointer;
    background: rgba(255,255,255,1);
  }
}

main.main {
  &.main-404 {
    section {
      .section-inner {
        .section-archives-title {
          margin: 0;
        }
      }
    }
  }
  section.author-title {
    margin: 0 60px;
    @include mq() {
      margin: 0 20px;
    }
    .section-inner {
      width: 980px;
      position: relative;
      margin: -124px auto 0;
      @include mq() {
        margin: -63px auto 0;
        width: 100%;
      }
      .author-pic {
        display: block;
        margin: 0 0 20px;
        img {
          display: block;
          margin: 0 auto;
          vertical-align: bottom;
          border-radius: 50%;
          box-shadow: 0 5px 15px rgba(62,58,57,.2);
          width: 120px;
          height: 120px;
          @include mq() {
            width: 84px;
            height: 84px;
          }
        }
      }
      .author-name {
        margin: 0 0 30px;
        h1 {
          font-size: 24px;
          font-weight: 600;
          text-align: center;
        }
      }
      .author-description {
        padding: 0px 0 0;
      }
    }
  }
  section.section {
    margin: 60px;
    @include mq() {
      margin: 20px 0 0;
    }
    .section-inner {
      background: $background_light;
      padding: 60px;
      @include mq() {
        padding: 30px 20px;
      }
      .section-archives-title {
        text-align: center;
        margin: 0 0 60px;
        position: relative;
        @include mq() {
          margin: 0 0 20px;
        }
        .title-container {
          margin: 0 0 15px;
          &:after {
            content: "";
            width: 50px;
            height: 3px;
            background: #e2b633;
            margin-top: 5px;
            display: block;
            margin: 15px auto 0;
            position: relative;
            z-index: 2;
          }
          h1, .title {
            display: inline-block;
            text-align: center;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 3px;
            line-height: 1.3;
            position: relative;
            z-index: 2;
            @include mq(sm) {
              font-size: 26px;
            }
          }
          .title-description {
            text-align: center;
            color: #fff;
            font-weight: 600;
            margin: 0;
            line-height: 1;
            position: absolute;
            font-size: 100px;
            right: 30px;
            top: 0px;
            right: -60px;
            top: -70px;
            z-index: 0;
            @include mq() {
              font-size: 40px;
              right: -20px;
              top: -30px;
              text-align: right;
            }
          }
        }
        .taxonomy-description {
          max-width: 980px;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          position: relative;
          z-index: 2;
          p {
            margin: 0 0 20px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
      .section-title {
        text-align: center;
        margin: 0 0 60px;
        position: relative;
        @include mq() {
          margin: 0 0 20px;
        }
        &.is-active {
          h2 {
            position: relative;
            overflow: hidden;
            span {
              animation: bkTextImg 0.8s linear 0s forwards;
            }
            &:before {
              animation: bkheadlineX 0.8s ease-in-out 0s forwards;
              z-index: 1003;
            }
          }
        }
        h2 {
          display: inline-block;
          text-align: center;
          font-size: 32px;
          border-bottom: 3px solid $main_color;
          letter-spacing: 3px;
          @include mq(sm) {
            font-size: 26px;
          }
          span {
            opacity: 0;
          }
          &:before {
            content: '';
            width: 0;
            height: 100%;
            background: $main_color;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .section-content {
        max-width: 980px;
        width: 100%;
        margin: 0 auto;
        p {
          margin: 0 0 20px;
        }
      }
    }
  }
}

footer.footer {
  margin: 0 0 60px;
  text-align: center;
  @include mq() {
    margin: 60px 0 0px;
    padding: 0px 0 60px;
  }
  .footer-inner {
    .copy-right {
      p {
        font-size: 12px;
        font-weight: 600;
        a {
        }
      }
    }
    .powerd-by {
      p {
        font-size: 12px;
        font-weight: 600;
        a {
        }
      }
    }
  }
}

.sidebar {
  margin: 60px;
  @include mq() {
    margin: 0px;
  }
  .sidebar-inner {
    background: #f7f7f7;
    padding: 60px 60px 30px;
    @include mq() {
      padding: 30px 20px;
    }
    .sidebar-content {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mq(lg) {
        justify-content: space-around;
      }
      &:after {
        content:"";
        display: block;
        width: 30%;
      }
      aside.widget {
        width: 30%;
        margin: 0 0 30px;
        @include mq() {
          margin: 0 0 20px;
        }
        @include mq(lg) {
          width: 45%;
        }
        @include mq(column1) {
          width: 100%;
          &:last-child {
            margin: 0;
          }
        }
        &.widget_recent_entries {
          ul {
            li {
              padding: 10px 14px 7px 0;
              position: relative;
              border-bottom: 1px solid #eaeaea;
              &:after {
                color: #ccc;
                content: "\f0da";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
              a {
                color: #232323;
                font-weight: 600;
                position: relative;
                line-height: 1.5;
              }
              span {
                display: block;
                font-size: 12px;
                color: #999;
              }
            }
          }
        }
        &.widget_rss {
          ul {
            li {
              padding: 10px 14px 7px 0;
              position: relative;
              border-bottom: 1px solid #eaeaea;
              a {

              }
            }
          }
        }
        &.widget_archive,
        &.widget_categories {
          label {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
          }
          select {
            display: inline-block;
            vertical-align: middle;
            background: #eaeaea;
          }
          ul {
            li {
              padding: 10px 0px 7px 0;
              border-bottom: 1px solid #eaeaea;
              position: relative;
              a {
                color: #232323;
                font-weight: 600;
                line-height: 1.5;
                &:after {
                  color: #ccc;
                  content: "\f0da";
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  position: absolute;
                  right: 0;
                  top: 14px;
                }
              }
              ul.children {
                padding: 0 0 0 15px;
                border-top: 1px solid #eaeaea;
                margin-top: 7px;
                li {
                  &:last-child {
                    border: none;
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
        &.widget_pages,
        &.widget_nav_menu,
        &.widget_meta {
          ul {
            li {
              a {
                color: #232323;
                display: block;
                padding: 10px 14px 7px 0;
                font-weight: 600;
                border-bottom: 1px solid #eaeaea;
                position: relative;
                &:after {
                  color: #ccc;
                  content: "\f0da";
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
              ul.children {
                margin: 0 0 0 15px;
              }
            }
          }
        }
        &.widget_search {
          .search-form {
            max-width: 100%;
          }
        }
        &.widget_recent_comments {
          ul {
            li {
              padding: 10px 0 7px 25px;
              position: relative;
              border-bottom: 1px solid #eaeaea;
              &:before {
                color: #999;
                content: "\f0e6";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                top: 13px;
                left: 0;
              }
              a {
              }
            }
          }
        }
        h3.widget-title {
          letter-spacing: 3px;
          font-size: 21px;
          font-weight: 600;
          border-bottom: 3px solid $main_color;
          padding-bottom: 5px;
          margin: 0 0 15px;
        }
        .tagcloud {
          a.tag-cloud-link {
            display: inline-block;
            position: relative;
            font-size: 12px!important;
            padding: 5px 7px 3px 18px;
            background: $link_color;
            margin: 0 2px 7px 0;
            color: #fff;
            &:before {
              content: '';
              width: 6px;
              height: 6px;
              background: #fff;
              border-radius: 50%;
              position: absolute;
              top: 11px;
              left: 7px;
            }
            span {

            }
          }
        }
        .calendar_wrap {
          table {
            width: 100%;
            caption {

            }
            thead {
              tr {
                th {
                  text-align: center;
                }
              }
            }
            tbody {
              tr {
                td {
                  text-align: center;
                }
              }
            }
            tfoot {
              tr {
                td {
                  padding: 7px 0;
                }
                td#prev {

                }
                td#next {

                }
              }
            }
          }
        }
      }
    }
  }
}

main.page-single-main {
  article {
    header.post-header {
      position: relative;
      max-width: 800px;
      width: 100%;
      margin: 0 auto 45px;
      @include mq(md-article) {
        padding: 0 20px;
        margin: 0 auto 25px;
      }
      &.has-thumbnail {
        .post-thumbnail {
          margin-top: -285px;
          margin-bottom: 60px;
          @include mq(md-article) {
            margin-top: -82.5px;
            margin-bottom: 30px;
            padding: 0 20px;
          }
          img {
            width: 100%;
            height: auto;
            min-height: 300px;
            vertical-align: bottom;
            box-shadow: 0 10px 30px rgba(62,58,57,.2);
            display: block;
            margin: 0 auto;
            @include mq(md-article) {
              min-height: 125px;
            }
          }
        }
      }
      .post-meta {
        margin-bottom: 15px;
        @include mq(md-article) {
          margin-bottom: 5px;
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        .post-time {
          color: #999;
          font-size: 14px;
          font-weight: 400;
        }
        .post-author {
          line-height: 1.7;
          float: right;
          .avatar {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.7;
            margin-right: 2px;
            img {
              border-radius: 50%;
            }
          }
          .name {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.7;
            color: #999;
          }
        }
      }
      h1.post-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        @include mq(md-article) {
          margin-bottom: 5px;
        }
        @include mq(sm) {
          font-size: 20px;
        }
      }
      .post-categories-container {
        ul {
          li {
            display: inline-block;
            margin: 0 15px 7px 0;
            @include mq(md-article) {
              margin: 0 12px 7px 0;
            }
            a {
              position: relative;
              font-size: 12px;
              font-weight: 400;
              padding: 0px 7px 0px;
              line-height: 27px;
              height: 24px;
              display: inline-block;
              background: $link_color;
              color: #fff;
              &:after {
                content: "";
                border-style: solid;
                border-width: 0;
                position: absolute;
                width: 0;
                height: 0;
                border-width: 12px 11px 12px 0px;
                right: -10px;
                top: 0;
                border-color: $link_color transparent;
              }
            }
          }
        }
      }
    }
    .post-content {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      max-width: 800px;
      width: 100%;
      margin: 0 auto 60px;
      @include mq(md-article) {
        margin: 0 auto 30px;
        padding: 0 20px;
      }
      * {
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
      p {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      img {
        margin: 0 0 20px;
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
      }
      iframe {
        @include mq() {
          max-width: 100%;
        }
      }
      figure {
        max-width: 100%;
        margin: 0 0 20px;
        padding: 10px;
        background: #f7f7f7;
        border: 1px solid #eaeaea;
        img,a {
          margin: 0 0 10px;
          display: block;
        }
        figcaption.wp-caption-text {
          font-size: 12px;
          text-align: center;
          a {
            display: inline;
          }
        }
      }
      .alignright {
        float: right;
        margin: 0 0 20px 20px;
      }
      .alignleft {
        float: left;
        margin: 0 20px 20px 0;
      }
      .aligncenter {
        display: block;
        margin: 0 auto 20px;
      }
      h1 {
        font-size: 24px;
        text-align: center;
        margin: 20px 0 20px;
        @include mq() {
          margin: 10px 0 20px;
        }
        &:after {
          width: 50px;
          height: 3px;
          margin: 10px auto 0px;
          display: block;
          content: '';
          background: #232323;
        }
      }
      h2 {
        font-size: 21px;
        text-align: center;
        margin: 20px 0 20px;
        display: inline-block;
        border-bottom: 3px solid #232323;
        @include mq() {
          margin: 10px 0 20px;
        }
      }
      h3 {
        font-size: 18px;
        margin: 10px 0 20px;
        border-left: 3px solid #232323;
        padding: 8px 15px 7px;
        @include mq() {
          margin: 5px 0 20px;
        }
      }
      h4 {
        font-size: 16px;
        margin: 0 0 20px;
        position: relative;
        padding: 0 0 0 18px;
        &:before {
          background: $main_color;
          width: 8px;
          height: 8px;
          content: '';
          position: absolute;
          top: 7px;
          left: 0;
          border-radius: 50%;
        }
      }
      h5 {
        font-size: 15px;
        margin: 0 0 20px;
      }
      h6 {
        font-size: 14px;
        margin: 0 0 20px;
      }
      blockquote {
        position: relative;
        padding: 33px 30px 30px;
        @include mq() {
          padding: 23px 20px 20px;
        }
        background: #f7f7f7;
        margin: 0 0 20px;
        &:before {
          content: "“";
          position: absolute;
          color: #fff;
          font-size: 140px;
          top: -51px;
          left: -3px;
          @include mq() {
            content: "“";
            position: absolute;
            color: #fff;
            font-size: 110px;
            top: -40px;
            left: -3px;
          }
        }
      }
      table {
        width: 100%;
        margin: 0 0 20px;
        border-top: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
        tr {
          th {
            padding: 9px 7px 7px;
            background: #f7f7f7;
            border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
          }
          td {
            padding: 9px 7px 7px;
            border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
          }
        }
      }
      dl {
        margin: 0 0 20px;
        dt {
          font-weight: 600;
        }
        dd {
          padding-left: 15px;
          margin: 0 0 20px;
        }
      }
      ul {
        margin: 0 0 20px;
        padding-left: 20px;
        list-style: disc;
        li {
        }
      }
      ol {
        margin: 0 0 20px;
        padding-left: 20px;
        list-style: decimal;
        li {

        }
      }
      strong {
        font-weight: 600;
      }
      abbr,acronym {
        cursor: help;
        border-bottom: 1px dotted #232323;
        position: relative;
        &:hover {
          &:after {
            position: absolute;
            border: 1px solid #f7f7f7;
            content: attr(title);
            background: rgba(255,255,255,0.9);
            margin: 0;
            padding: 15px;
            top: 50%;
            left: 120%;
            transform: translateY(-50%);
          }
        }
      }
      address {
        padding: 30px;
        background: #f7f7f7;
        margin: 0 0 20px;
        @include mq() {
          padding: 23px 20px 20px;
        }
      }
      big {
        font-size: 140%;
      }
      cite,q {
        font-style: italic;
      }
      code, kbd, tt, var {
        padding: 0px 5px;
        background: #f7f7f7;
        border-radius: 3px;
      }
      del, strike {
        text-decoration: line-through;
      }
      em {
        font-style: italic;
        font-weight: 600;
      }
      ins {
        border-bottom: 1px solid #454545;
      }
      pre {
        background-color: #0f192a;
        color: #fff;
        padding: 15px;
        margin: 0 0 20px;
        overflow-x: scroll;
        position: relative;
      }
      sup {
        vertical-align: super;
        font-size: 80%;
      }
      sub {
        vertical-align: sub;
        font-size: 80%;
      }
      .twitter-tweet {
        display: block;
        margin: 0 auto 20px !important;
      }
      @for $i from 1 through 9 {
        .gallery-columns-#{$i} {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .gallery-item {
            margin: 0 0 20px;
            padding: 0px;
            background: transparent;
            border: none;
            width: calc(100% / #{$i});
            padding: 0 .1rem;
            .wp-caption-text,
            .gallery-caption {
              margin: 5px 0 0;
              line-height: 1.3;
            }
            a {
              display: block;
              img {
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
      }
      .post-links {
        text-align: center;
        &> span,
        &> a {
          display: inline-block;
          padding: 5px 15px;
        }
        &> span {
          border-bottom: 3px solid #232323;
        }
      }
    }
    footer.post-footer {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      @include mq(md-article) {
        padding: 0 20px;
      }
      .post-tags {
        margin: 0 0 60px;
        @include mq(md-article) {
          margin: 0 0 30px;
        }
        ul {
          li {
            display: inline-block;
            margin: 0 7px 7px 0;
            a {
              position: relative;
              font-size: 12px;
              padding: 5px 7px 3px 18px;
              background: $link_color;
              color: #fff;
              &:before {
                content: "";
                width: 6px;
                height: 6px;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                top: 11px;
                left: 7px;
              }
            }
          }
        }
      }
    }
  }
  nav.post-navigation {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    .post-navigation-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mq(md) {
        display: block;
      }
      .prev-next {
        width: calc((100% - 150px) / 2);
        position: relative;
        overflow: hidden;
        @include mq(md) {
          width: 100%;
        }
        a {
          display: block;
          .post-thumbnail {
            background-size: cover;
            background-position: center center;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(3px);
            transform: scale(1.1);
            &:after {
              content: '';
              position: absolute;
              z-index: 0;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.6);
            }
          }
          i {
            position: absolute;
            color: #f7f7f7;
          }
          p {
            padding: 30px 30px;
            position: relative;
            color: #f7f7f7;
            word-wrap: break-word;
            overflow-wrap: break-word;
            line-height: 1.3;
          }
        }
      }
      .prev {
        a {
          i {
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
          }
          p {
            @include mq(md) {
              padding: 23px 20px 20px 30px;
            }
          }
        }
      }
      .home {
        width: 150px;
        text-align: center;
        @include mq(md) {
          display: block;
          margin: 0 auto;
        }
        a {
          display: block;
          padding: 0 15px;
          line-height: 1.3;
          @include mq(md) {
            padding: 20px 0px;
          }
          i {
            font-size: 36px;
            color: #232323;
            @include mq(md) {
              font-size: 24px;
            }
          }
          span {
            display: block;
            color: #232323;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
      .next {
        a {
          i {
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
          }
          p {
            text-align: right;
            @include mq(md) {
              padding: 23px 30px 20px 20px;
            }
          }
        }
      }
    }
  }
  .post-comments {
    max-width: 980px;
    width: 100%;
    margin: 60px auto 0;
    @include mq() {
      margin: 30px auto 30px;
      padding: 0 20px;
    }
    ul.comment-tabs {
      margin: 0 0 20px;
      border-bottom: 3px solid #eaeaea;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      li {
        float: left;
        padding: 11px 15px 5px;
        cursor: pointer;
        transition: all 0.4s;
        position: relative;
        background: #f7f7f7;
        span {
          background: #fff;
          padding: 2px 5px 0;
          border-radius: 5px;
          color: #999;
          font-size: 11px;
          font-weight: 600;
          position: relative;
          top: -2px;
        }
        &:after {
          transition: all 0.4s;
          content: '';
        }
        &.active {
          background: $link_color;
          color: #fff;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 3px;
            background: $link_color;
          }
        }
      }
    }
    .comment-list-container {
      margin: 0 0 30px;
      @include mq() {
        margin: 0 0 20px;
      }
      ol {
        &.children {
          margin-left: 20px;
        }
        &.hide {
          display: none;
        }
        &> li,
        &> li.bypostauthor {
          //margin: 0 0 20px;
          padding: 15px 0;
          border-bottom: 1px solid #eaeaea;
          .comment-respond {
            margin-top: 15px;
          }
          .comment-body {
            display: table;
            width: 100%;
            .comment-left {
              display: table-cell;
              vertical-align: top;
              padding-right: 15px;
              width: 48px;
              .comment-author-pic {
                img {
                  border-radius: 50%;
                  vertical-align: bottom;
                }
              }
            }
            .comment-right {
              display: table-cell;
              vertical-align: top;
              .comment-meta {
                margin-bottom: 7px;
                .comment-author-name {
                  display: inline-block;
                  vertical-align: middle;
                  font-weight: 600;
                  cite.fn {
                    a {

                    }
                  }
                }
                .comment-time {
                  display: inline-block;
                  vertical-align: middle;
                  a {
                    color: #999;
                    font-size: 12px;
                  }
                }
                .comment-edit-link-container {
                  display: inline-block;
                  vertical-align: middle;
                  a {

                  }
                }
              }
              .comment-content {
                * {
                  &:first-child {
                    margin-top: 0px;
                  }
                  &:last-child {
                    margin-bottom: 0px;
                  }
                }
                p {
                  margin-bottom: 20px;
                  &:last-child {
                    margin-bottom: 0px;
                  }
                }
                img {
                  margin: 0 0 20px;
                  vertical-align: bottom;
                  max-width: 100%;
                  height: auto;
                }
                figure {
                  max-width: 100%;
                  margin: 0 0 20px;
                  padding: 10px;
                  background: #f7f7f7;
                  border: 1px solid #eaeaea;
                  img {
                    margin: 0 0 10px;
                  }
                  figcaption.wp-caption-text {

                    font-size: 12px;
                    text-align: center;
                  }
                }
                .alignright {
                  float: right;
                  margin: 0 0 20px 20px;
                }
                .alignleft {
                  float: left;
                  margin: 0 20px 20px 0;
                }
                .aligncenter {
                  display: block;
                  margin: 0 auto 20px;
                }
                h1 {
                  font-size: 24px;
                  text-align: center;
                  margin: 20px 0 20px;
                  @include mq() {
                    margin: 10px 0 20px;
                  }
                  &:after {
                    width: 50px;
                    height: 3px;
                    margin: 10px auto 0px;
                    display: block;
                    content: '';
                    background: #232323;
                  }
                }
                h2 {
                  font-size: 21px;
                  text-align: center;
                  margin: 20px 0 20px;
                  display: inline-block;
                  border-bottom: 3px solid #232323;
                  @include mq() {
                    margin: 10px 0 20px;
                  }
                }
                h3 {
                  font-size: 18px;
                  margin: 10px 0 20px;
                  border-left: 3px solid #232323;
                  padding: 8px 15px 7px;
                  @include mq() {
                    margin: 5px 0 20px;
                  }
                }
                h4 {
                  font-size: 16px;
                  margin: 0 0 20px;
                  position: relative;
                  padding: 0 0 0 18px;
                  &:before {
                    background: $main_color;
                    width: 8px;
                    height: 8px;
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: 0;
                    border-radius: 50%;
                  }
                }
                h5 {
                  font-size: 15px;
                  margin: 0 0 20px;
                }
                h6 {
                  font-size: 14px;
                  margin: 0 0 20px;
                }
                blockquote {
                  position: relative;
                  padding: 33px 30px 30px;
                  background: #f7f7f7;
                  margin: 0 0 20px;
                  @include mq() {
                    padding: 23px 20px 20px;
                  }
                  &:before {
                    content: "“";
                    position: absolute;
                    color: #fff;
                    font-size: 140px;
                    top: -51px;
                    left: -3px;
                  }
                }
                table {
                  width: 100%;
                  margin: 0 0 20px;
                  border-top: 1px solid #eaeaea;
                  border-left: 1px solid #eaeaea;
                  tr {
                    th {
                      padding: 9px 7px 7px;
                      background: #f7f7f7;
                      border-right: 1px solid #eaeaea;
                      border-bottom: 1px solid #eaeaea;
                    }
                    td {
                      padding: 9px 7px 7px;
                      border-right: 1px solid #eaeaea;
                      border-bottom: 1px solid #eaeaea;
                    }
                  }
                }
                dl {
                  dt {
                    font-weight: 600;
                  }
                  dd {
                    padding-left: 15px;
                    margin: 0 0 20px;
                  }
                }
                ul {
                  margin: 0 0 20px;
                  padding-left: 20px;
                  list-style: disc;
                  li {
                  }
                }
                ol {
                  margin: 0 0 20px;
                  padding-left: 20px;
                  list-style: decimal;
                  li {
                    padding: 0px 0;
                    border-bottom: none;
                  }
                }
                strong {
                  font-weight: 600;
                }
                abbr,acronym {
                  cursor: help;
                  border-bottom: 1px dotted #232323;
                  position: relative;
                  &:hover {
                    &:after {
                      position: absolute;
                      border: 1px solid #f7f7f7;
                      content: attr(title);
                      background: rgba(255,255,255,0.9);
                      margin: 0;
                      padding: 15px;
                      top: 50%;
                      left: 120%;
                      transform: translateY(-50%);
                    }
                  }
                }
                address {
                  padding: 30px;
                  background: #f7f7f7;
                  margin: 0 0 20px;
                  @include mq() {
                    padding: 23px 20px 20px;
                  }
                }
                big {
                  font-size: 140%;
                }
                cite,q {
                  font-style: italic;
                }
                code, kbd, tt, var {
                  padding: 0px 5px;
                  background: #f7f7f7;
                  border-radius: 3px;
                }
                del, strike {
                  text-decoration: line-through;
                }
                em {
                  font-style: italic;
                  font-weight: 600;
                }
                ins {
                  border-bottom: 1px solid #454545;
                }
                pre {
                  background-color: #0f192a;
                  color: #fff;
                  padding: 15px;
                  margin: 0 0 20px;
                  overflow-x: scroll;
                  position: relative;
                  white-space: pre-wrap;
                  word-wrap: break-word;
                }
                sup {
                  vertical-align: super;
                  font-size: 80%;
                }
                sub {
                  vertical-align: sub;
                  font-size: 80%;
                }
              }
              .reply {

              }
            }
          }
        }
      }
    }
    nav.comment-navigation {
      display: table;
      width: 100%;
      margin: 0 0 30px;
      @include mq() {
        margin: 0 0 20px;
      }
      .nav-previous {
        display: table-cell;
        vertical-align: middle;
        padding-right: 15px;
        text-align: left;
      }
      .nav-next {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;
        text-align: right;
      }
    }
    .comment-respond {
      padding: 60px;
      background: #f7f7f7;
      @include mq() {
        padding: 30px 20px;
      }
      h3.comment-reply-title {
        text-align: center;
        small {
          font-size: 80%;
        }
      }
      form.comment-form {
        span.required {
          color: red;
        }
        p.logged-in-as {
          text-align: center;
          margin: 0 0 15px;
        }
        p.comment-notes {
          text-align: center;
           margin: 0 0 15px;
        }
        p.comment-form-comment {
          margin: 0 0 7px;
          clear: both;
          label {
            display: block;
            font-size: 14px;
            font-weight: 600;
          }
          textarea {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            border: 1px solid #eaeaea;
            border-radius: 3px;
          }
        }
        p.comment-form-author {
          margin: 0 0 7px;
          width: 48%;
          float: left;
          @include mq(sm) {
            width: 100%;
            float: none;
            clear: both;
          }
          label {
            display: block;
            font-size: 14px;
            font-weight: 600;
          }
          input {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            border: 1px solid #eaeaea;
            border-radius: 3px;
          }
        }
        p.comment-form-email {
          margin: 0 0 7px;
          float: right;
          width: 48%;
          @include mq(sm) {
            width: 100%;
            float: none;
            clear: both;
          }
          label {
            display: block;
            font-size: 14px;
            font-weight: 600;
          }
          input{
            width: 100%;
            padding: 15px;
            font-size: 16px;
            border: 1px solid #eaeaea;
            border-radius: 3px;
          }
        }
        p.comment-form-url {
          margin: 0 0 7px;
          clear: both;
          label {
            display: block;
            font-size: 14px;
            font-weight: 600;
          }
          input {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            border: 1px solid #eaeaea;
            border-radius: 3px;
          }
        }
        p.form-submit {
          margin: 15px 0 0;
          text-align: center;
          input[type="submit"] {
            background: $link_color;
            padding: 15px 30px;
            color: #fff;
            box-shadow: 0 5px 15px rgba(62,58,57,.2);
            transition: all 0.4s;
            cursor: pointer;
            border-radius: 3px;
            -webkit-appearance: none;
            &:hover {
              box-shadow: none;
              transform: translateY(3px);
            }
          }
        }
      }
    }
  }
}



/***************************************************************************
Components
***************************************************************************/



.fixed-copy-right {
  position: fixed;
  z-index: 1002;
  bottom: 30px;
  transform: translate3d(-50%, 0, 0);
  left: 28px;
  overflow: hidden;
  @include mq() {
    display: none;
  }
  &:before {
    content: '';
    width: 100%;
    height: 0%;
    background: $main_color;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    animation: bkY 0.8s ease-in-out 0s forwards;
    z-index: 1003;
  }
  /*&:after {
    content: '';
    width: 100%;
    height: 0%;
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    animation: test .8s ease-in-out 0.4s forwards;
  }*/
  p {
    writing-mode: vertical-rl;
    font-size: 12px;
    font-weight: bold;
    animation: bkTextImg 0.8s linear 0s forwards;
  }
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mq(lg) {
    justify-content: space-around;
  }
  &:after {
    content:"";
    display: block;
    width: 306.666666px;
  }
  article {
    width: 306.666666px;
    background: #fff;
    margin: 0 0 30px;
    box-shadow: 0 1px 2px #ddd;

    @include mq(lg) {
      width: 45%;
    }
    @include mq() {
      margin: 0 0 20px;
    }
    @include mq(column1) {
      width: 100%;
    }
    a {
      display: block;
      &:hover {
        opacity: 1;
        .post-header {
          figure.post-thumbnail {
            figcaption {
              letter-spacing: 3px;
              opacity: 1;
            }
            &:after {
              background: rgba(0,0,0,0.9);
            }
          }
        }
      }
      .post-header {
        position: relative;
        overflow: hidden;
        figure.post-thumbnail {
          background-size: cover;
          background-position: center center;
          &:before {
            content: '';
            width: 100%;
            padding-top: 75%;
            display: block;
          }
          &:after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background: rgba(0,0,0,0);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            transition: all 0.4s;
          }
          figcaption {
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            z-index: 4;
            letter-spacing: 10px;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all 0.4s;
          }
          .post-author {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 7px 10px;
            line-height: 1;
            width: 100%;
            text-align: right;
            &:before {
              content: '';
              width: 100%;
              height: 30px;
              position: absolute;
              bottom: 0;
              left: 0;
              background: linear-gradient(to bottom,rgba(0,0,0,0)0%,rgba(0,0,0,.4)100%);
            }
            .avatar {
              display: inline-block;
              vertical-align: middle;
              line-height: 1;
              position: relative;
              z-index: 2;
              img {
                border-radius: 50%;
                vertical-align: bottom;
              }
            }
            .name {
              display: inline-block;
              vertical-align: middle;
              font-size: 10px;
              font-weight: bold;
              color: #fff;
              line-height: 1;
              position: relative;
              z-index: 2;
            }
          }
          .post-category {
            position: absolute;
            top: 15px;
            left: 0;
            font-size: 10px;
            font-weight: 400;
            padding: 3px 5px 1px;
            background: $link_color;
            color: #fff;
            &:after {
              content: "";
              border-style: solid;
              border-width: 0;
              position: absolute;
              width: 0;
              height: 0;
              border-width: 11px 10px 10px 0;
              right: -10px;
              top: 0;
              border-color: $link_color transparent;
            }
          }
        }
      }
      .post-content {
        padding: 15px;
        time {
          color: #999;
          font-size: 12px;
          font-weight: 400;
        }
        h2.post-title {
          color: #454545;
          font-size: 16px;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }
    }
  }
}

.no-articles {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.navigation {
  h2 {
    display: none;
  }
  .nav-links {
    text-align: center;
    a {
      &:hover {
        opacity: 0.6;
      }
    }
    &> .page-numbers{
      padding: 5px 15px;
      display: inline-block;
    }
    &> .current{
      border-bottom: 3px solid $text_color;
    }
    &> a.page-numbers {

    }
    &> a.next {

    }
    &> a.prev {

    }
  }
}

.search-form {
  max-width: 320px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  .search-inner {
    padding: 10px 59px 7px 15px;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
  }
  .search-submit {
    width: 44px;
    height: 44px;
    line-height: 44px;
    background: $link_color;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      opacity: 0.6;
    }
  }
}

form.post-password-form {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  input[type=password] {
    padding: 10px 15px 7px 15px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px solid #eaeaea;
    width: calc(100% - 65px);
  }
  input[type=submit] {
    background: $link_color;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
    padding: 0 15px;
    line-height: 46px;
    width: 60px;
    height: 46px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    -webkit-appearance: none;
    &:hover {
      opacity: 0.6;
    }
  }
}
